body{
	background:url(../fond.jpg);
}
.juego{
	margin-top: 200px;
	background-color: #F781F3;
	padding: 10px;
	width: 340px;
	border: solid 2px #7401DF;
}
.cont{
	width: 100px;
	height: 100px;
	margin-bottom: 5px;
	font-size: 60px;
	color: pink; 
}